<!DOCTYPE html>
<html>

<head>
    <title>Calculation Result</title>
</head>

<body>
    <h1>Operation Result</h1>
    <p>The type of mail is "
        <%= mT %>", it weighs
            <%= wT %> oz and costs $
                <%= rT %>.

    </p>
</body>

</html>
