<!DOCTYPE html>
<html>

<head>
    <title>Calculation Result</title>
</head>

<body>
    <h1>Operation Result</h1>
    <p>The "MAIL TYPE" weighs "WEIGHT" oz and costs "COST"

    </p>
</body>

</html>
